.app-form-page {
  background: #fff;
  padding: 20px;
  margin-block: 2rem;

  &__title {
    font-size: 28px;
    margin-bottom: 24px;
    text-align: center;
    font-weight: 600;

    @media (max-width: 768px) {
      font-size: 24px;
    }

    @media (max-width: 480px) {
      font-size: 20px;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    margin-top: 1rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__button {
    grid-column: span 2; 
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    
    @media (max-width: 768px) {
      grid-column: span 1; 
      flex-direction: column;
      row-gap: 1rem;
      margin-top: 2rem;
      place-items: center;
    }
  }
}

.form-input {
  min-width: 300px;
  width: 100%;

  @media (max-width: 768px) {
    min-width: auto;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    @media (max-width: 480px) {
      padding: 8px;
    }
  }
}
